<table class="table">
    <tbody>
        <%feeds.forEach(feed => {%>
            <tr>
                <td style="width: 800px;max-width: 800px;">
                    <p style="font-size: 25px;">
                        <a href="/feeds/<%=(feed.id)%>"><%= feed['title'] %></a>
                    </p>
                    <span class="font-weight-light d-inline-block text-truncate" style="max-width: 95%;font-size: 15px;">
                        <%= feed['content'] %>
                    </span>
                    <p>
                        <%feed.Tags.forEach(tag => {%>
                            <a class="btn btn-info btn-xs" href="/feeds/tagged/<%=tag.name%>" role="button"><%=tag.name%></a>
                        <%});%>
                    </p>
                </td>
                <td style="min-width:100px;" class="text-right">                    
                    <p><%= `${feed['User']['first_name']} ${feed['User']['last_name']}` %></p>
                    <p class="font-weight-light text-muted">
                        <%if (feed.getDataValue('timeDiff') == 0) {%>
                            just now
                        <%} else if (feed.getDataValue('timeDiff') < 1) {%>
                            <%=feed.getDataValue('timeDiff')*10%> hours ago
                        <%} else {%>
                            <%=feed.getDataValue('timeDiff')%> days ago
                        <%}%>
                    </p>
                    <%if (feed.getDataValue('like') <= 1) {%>
                        <a class="btn btn-success btn-xs" href="/feeds/like/<%=(feed.id)%>" role="button" data-toggle="tooltip" data-placement="top" title="<%=feed.getDataValue('like')%> like">Like</a>
                    <%} else {%>
                        <a class="btn btn-success btn-xs" href="/feeds/like/<%=(feed.id)%>" role="button" data-toggle="tooltip" data-placement="top" title="<%=feed.getDataValue('like')%> likes">Like</a>
                    <%}%>

                    <%if (feed.getDataValue('dislike') <= 1) {%>
                        <a class="btn btn-danger btn-xs" href="/feeds/dislike/<%=(feed.id)%>" role="button" data-toggle="tooltip" data-placement="top" title="<%=feed.getDataValue('dislike')%> dislike">Dislike</a>
                    <%} else {%>
                        <a class="btn btn-danger btn-xs" href="/feeds/dislike/<%=(feed.id)%>" role="button" data-toggle="tooltip" data-placement="top" title="<%=feed.getDataValue('dislike')%> likes">Dislike</a>
                    <%}%>
                </td>
            </tr>
        <%});%>
    </tbody>
</table>