<!doctype html>
<html lang="en">
    <head>
        <%-include('../partials/head')%>
    </head>
    <body>
        <%-include('../partials/navbar')%>


        <%feeds.forEach(feed => {%>
            <a href="/feeds/edit/<%=feed.getDataValue('id')%>"><%=JSON.stringify(feed)%></a><br>
        <%});%>

        <%-include('../partials/footer')%>
    </body>
</html>